@font-face { 
    font-family: 'ExistenceLight'; 
    src: url('../Assets/Fonts/Existence-Light.otf'); 
}; 

.ticTacToe{
    width: 200;
    height: 100vh;
    margin: 0;
}

h1{
    color: #c9c9c9;
    text-align: center;
    font-family: ExistenceLight;
    font-size: 90px;
}